<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      th:fragment="page">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title th:include=":: title"></title>
        <link rel="stylesheet" th:href="@{vendor/bootstrap/dist/css/bootstrap.min.css}"/>
    </head>
    <body>
        <th:block th:replace=":: content">

        </th:block>
        <th:block th:replace=":: js-block">

        </th:block>
    </body>
</html>